<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
  </head>
  <body>
    <form method="post" action="/chats/<%= chats._id %>?_method=PUT">
      <p> id : <%= chats._id %></p>
      <p> From : <%= chats.from %></p>
      <p> To : <%= chats.to %></p>
      <textarea name="new_message" rows="6" cols="50"><%=chats.message%></textarea><br>
      <button>Enter</button>
    </form>
  </body>
</html>

